

:root{
    --main-font: "Roboto", sans-serif;
--secondary-font: "Raleway", sans-serif;


--bg-header:#FFFFFF;
--main-txt-mode-light: #212121;
--primary-txt-mode-light: #757575;
--secondary-txt-mode-light: #2196F3;


--bg-mode-dark:#2F303A;
--bg-button: #2196F3;
--main-txt-mode-dark:#FFFFFF;
--primary-txt-mode-dark:rgba(255, 255, 255, 0.6);
--secondary-txt-mode-dark: #2196F3;

--icon-main-color:#AFB1B8;
--icon-hover-color: #FFFFFF;
--bg-icon-hover-color:#2196F3;

}

body{
   font-family: var(--main-font);
}


h1, h2, h3, p {
    margin-top: 0;
    margin-bottom: 0;
}

.list{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
   
}

.link{
    text-decoration: none;
}


.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.header{
    background-color: var(--bg-header);
    border-bottom: 1px solid #ECECEC;
    
}


.header__container{
    display: flex;
    align-items: center;
}

.header__logo{
    margin-right: 93px;
}


.header__logo,
.footer__logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;

    color: var(--main-txt-mode-light);
    
}
.header__logo--primary{
    color: var(--secondary-txt-mode-light);

}
.nav__list{
    display: flex;
    align-items: center;
}

.nav__item{
    margin-right: 50px;

}

.nav__item:last-child{
    margin-right: 0;
}

.nav__link,
.header__link{
    display: block;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-txt-mode-light);    

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.header__contact{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__wrapper{
    margin-right: 50px;
}

.header__wrapper:last-child{
    margin-right: 0;
}

.header__link{
    display: flex;
    align-items: center;
    color: var(--primary-txt-mode-light);
}


.header__icon{
    fill: currentColor;
    margin-right: 10px;

}

.nav__link{
    position: relative;
}

.nav__link:hover,
.nav__link:focus,
.header__link:hover,
.header__link:focus{
    color: var(--secondary-txt-mode-light);
}

.nav__link--active::after{
    content: ' ';
    display: block;

    position: absolute;
    bottom: -1px;

    
    width: 100%;
    height: 4px;
    background-color: var(--bg-icon-hover-color);
    border-radius: 2px;     
}



.hero{
    background-color: var(--bg-mode-dark);
    padding-bottom: 200px;
    padding-top: 200px;
}

.hero__overlay{
    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero__title{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
    
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-txt-mode-dark);
}

.hero__btn{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 10px;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 10px;
    

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;

    color: var(--main-txt-mode-dark);
    background-color: var(--bg-button);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    cursor: pointer;
}

.hero__btn:hover,
.hero__btn:focus{
    color: var(--main-txt-mode-dark);
    background-color: var(--bg-button);
} 

.section{
    padding: 94px 0;
}



.features__list{
    display: flex;
    justify-content: space-between;
}

.features__title,
.main__title{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features__subtitle{
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--main-txt-mode-light);
}

.features__item{
    margin-right: 30px;
}

.features___item:last-child{
    margin-right: 0;
}


.features__icon{
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;

    margin-bottom: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
   
}


.features__descr,
.map,
.mail,
.phone{
    font-size: 14px;
    line-height: 1.71;
    /* or 171% */
    letter-spacing: 0.03em;

    color: var(--primary-txt-mode-light);
}


.about__title,
.team__title,
.clients__title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-mode-light);
}

.about{
    padding-top: 0;
}

.about__title{
    margin-bottom: 50px;

}

.about__list{
    display: flex;
    justify-content: space-between;
}

.about__wrapper{
    position: relative;
}

.about__item{
    margin-right: 30px;
     position: relative;
   
}

.about__item:last-child{
    margin-right: 0;
}

.about__wrapper{
    position: relative;
}

.about__img{
    display: block;
    width: 100%;
    height: auto;
}


.about__descriotion{
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 70px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--main-txt-mode-dark);
    background-color: rgba(47, 48, 58, 0.8);

    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 700;
    
   
}

.team{
    background-color: #F5F4FA;

}

.team__title{
    margin-bottom: 50px;
}

.team__list{
    display: flex;
}

.team__item{
    margin-right: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:last-child{
    margin-right: 0;
}

.team__info{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--main-txt-mode-light);
}

.team__profession{
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    text-align: center;
    letter-spacing: 0.03em;
    
    margin-bottom: 30px;

    color: var(--primary-txt-mode-light);

}


.networks{
    display: flex;
    justify-content: center;
    
}

.networks__item{
    width: 44px;
    height: 44px;

    margin-right: 10px;
    
}

.networks__item:last-child{
    margin-right: 0;
}


.networks__link{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--icon-main-color);
    background-color: var(--main-txt-mode-dark);
    border-radius: 50%;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

   
}

.networks__link:hover,
.networks__link:focus{
    background-color: var(--bg-icon-hover-color);
    color: var(--main-txt-mode-dark);
    border-radius: 50%;
}

.networks__icon{
    fill: currentColor;
}  


.clients__title{
    margin-bottom: 50px;

}

.clients__list{
    display: flex;
    justify-content: center;

}

.clients__item{
    margin-right: 30px;
}

.clients__item:last-child{
    margin-right: 0;
}

.clients__link{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-main-color);
    box-sizing: border-box;
    border-radius: 4px;
    fill: var(--icon-main-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.clients__link:hover,
.clients__link:focus{
    fill: var(--bg-icon-hover-color);
    border-color: var(--bg-icon-hover-color);
}



.footer{
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: var(--bg-mode-dark);
}

.footer__container{
    align-items: baseline;
}

.footer__wrapper{
    flex-grow: 1;
}


.address{
    font-style: normal;
}
.adress__item{
    margin-bottom: 10px;
    
}

.adress__item:last-child{
    margin: 0;
}



.footer__logo{
    display: block;
    margin-bottom: 20px;

    color: var(--secondary-txt-mode-dark);
}
.footer__logo--secondary{
    color: var(--main-txt-mode-dark);
}
.adress__map{
    color: var(--main-txt-mode-dark);

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adress__mail,
.adress__phone{
 color: var(--primary-txt-mode-dark);

 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 
}

.adress__map:hover,
.adress__map:focus,
.adress__mail:hover,
.adress__mail:focus,
.adress__phone:hover,
.adress__phone:focus{
    color: var(--secondary-txt-mode-dark);
}

.pagination{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.paganation__item{
    margin-right: 8px;
}


.paganation__item:last-child{
    margin-right: 0;
}


.pagination__btn{
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;


    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-mode-light);
    background-color: #F5F4FA;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}


.pagination__btn:hover,
.pagination__btn:focus{
    color: var(--main-txt-mode-dark);
    background-color: var(--bg-button);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project{
    display: flex;
    flex-wrap: wrap;

    
}

.project__item{
    margin-right: 30px;
    margin-bottom: 30px;
        
}





.project__link{
    display: block;
    position: relative;
    
    text-decoration: none;
    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow  250ms cubic-bezier(0.4, 0, 0.2, 1) ;
}

.project__wrapper{
    position: relative;
    overflow: hidden;
}

.project__link:hover,
.project__link:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);



}

.project__overlay{
    position: absolute;
    width: 100%;
    height: 294px;

    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    bottom: 0px;
    
    
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.project__link:hover .project__overlay,
.project__link:focus .project__overlay{
    transform: translateY(0);
}

.project__img{
    display: block;
    
}



.project__description{
    display: block;
    position: absolute;
    top: 63px;
    right: 24px;

    width: 322px;
    height: 168px;

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: var(--main-txt-mode-dark);
} 
 




.project__details{
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
    padding-bottom: 20px;

    background: #FFFFFF;
    border: 1px solid #EEEEEE; 

    
    
}



.project__name{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-txt-mode-light);

}

.project__category{
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--primary-txt-mode-light);
}

.project__category:hover,
.project__category:focus{
    color: var(--primary-txt-mode-light);
}

.footer__container{
    display: flex;
}

.footer__wrapper{
    margin-right: 70px;
}

.join{
    margin-right: 93px;
}

.join:last-child{
    margin-right: 0;
}

.join__title{
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-txt-mode-dark);

    margin-bottom: 20px; 

}


.join__container{
    display: flex;
    
}

.join__email{
    margin-right: 12px;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 15px 16px;

    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(47, 48, 58, 1);

   

}

.join__button{
    display: flex;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 50px;
    padding: 13px 28px ;
   

    background-color: var(--bg-icon-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color:rgba(255, 255, 255, 1);
    border: transparent;

    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;   


}

.join__icon{
    fill: rgba(255, 255, 255, 1);
    margin-left: 10px;
}


.backdrop{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.2);

    opacity: 1;
    transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none; 
         
}


.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0.7);

}


.modal{
    position: absolute;
    top:50%;
    left: 50%;
    padding: 40px;

    height: 581px;
    width: 528px;
    background-color: #FFFFFF;
    padding: 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
}

.modal__btn{
    position: absolute;
    top: 8px;
    right: 8px;
    

    width: 30px;
    height: 30px;

    fill: #000000;
    cursor: pointer;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__btn:hover,
.modal__btn:focus{
    fill: var(--bg-icon-hover-color);

}



.form__header{
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);

    
}

.form{
    margin-top: auto;
    margin-right: auto;

    padding-top: 12px;
    
}

.form__field{
    position: relative;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
   
}

.field-comment{
    margin-bottom: 0;
}


.form__field .form__label{
    margin-bottom: 4px;
}


.form__icon{
    position: absolute;
    left: 14px;
    top: 32px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


 .form__input{
    padding: 0;
    margin: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    height: 40px;
    padding: 12px 42px;
    border-radius: 4px;
   
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.form__input:focus{
    border-color: var(--bg-icon-hover-color);
}

.form__input:focus + .form__icon{
    fill: var(--bg-icon-hover-color);
}


.form__textarea{
    resize: none;
    height: 120px;
    padding: 12px 16px;

}

.form__label{
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 1);

   

}


.form__checkbox{
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 30px;
}

.form__label--checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form__input--checkbox{
    appearance: none;
    position: absolute;
}

.form__input--checkbox:checked + .form__icon--checkbox{
    border-color: var(--bg-icon-hover-color);
    background-color: var(--bg-icon-hover-color);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
  

}


.form__icon--checkbox{
    display: inline-block;

    width: 16px;
    height: 15px;

    border: 2px solid  rgba(33, 33, 33, 1);
    border-radius: 4px;
    margin-right: 9px;
   
}

.form__link{
    color: var(--bg-icon-hover-color);
    text-decoration: underline;
    
}


.form__button{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
   
    background-color: var(--bg-icon-hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: transparent;

    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
