.footer{

    background-color: var(--bg-mode-dark);

    @media screen and (min-width: 480px){
        padding-top: 60px;
        padding-bottom: 60px;
        
    
    }

    


}


.footer__container{

    @media screen and (min-width: 768px){
        display: block;
        
    }

    @media screen and (min-width: 1200px){
        display: flex;
        align-items: baseline;
        justify-content: center;

        
    
    
    }
}

.footer__box{
    margin-bottom: 60px;

    @media screen and (min-width: 768px){
        display: flex;
        
    }

    @media screen and (min-width: 1200px){
        display: flex;
        flex-direction: row;
        align-items: baseline;
        margin-bottom: 0;
        
    }
   


}

.footer__wrapper{
    margin-bottom: 60px;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 767px){
        display: block;
        align-items: center;
          

    }

    @media screen and (min-width: 768px){
        margin-right: 165px; 
        margin-bottom: 0;
    }

    @media screen and (min-width: 1200px){
        margin-right: 70px;
        flex-grow: 1;
        margin-bottom: 0px;
        display: block;
        margin-left: 0;
    
    }

    

}


.footer__logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;

    color: var(--main-txt-mode-light);
    
    display: block;
    margin-bottom: 20px;

    color: var(--secondary-txt-mode-dark);

    @media screen and (max-width: 767px){
        text-align: center;

    }

    @media screen and (min-width: 768px){
        padding-left: 100px;
        
    }

    @media screen and (min-width: 1200px){
        padding-left: 15px;
        
    }

    
}
.footer__logo--secondary{
    color: var(--main-txt-mode-dark);
}


