.header{
    background-color: var(--bg-header);
    border-bottom: 1px solid #ECECEC;
    ;
}


.header__container{
    display: flex;
    align-items: center;
}

.header__logo{
    margin-right: 93px;
}


.header__logo,
.footer-logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    /* identical to box height */
    letter-spacing: 0.03em;

    color: var(--main-txt-mode-light);
    
}
.header__logo--primary{
    color: var(--secondary-txt-mode-light);

}

.header__link{
    display: flex;
    align-items: center;
    color: var(--primary-txt-mode-light);
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
       
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--secondary-txt-mode-light);
    }

}

.header__contact{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header__wrapper{
    margin-right: 50px;

    &:last-child{
        margin-right: 0;
    }
}


.header__icon{
    fill: currentColor;
    margin-right: 10px;

}