.pagination{
    display: flex;
    
    @media screen and (max-width:480px) {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    @media screen and (min-width: 768px){
        margin-bottom:30px;
        justify-content: center;
        
       
    }

    @media screen and (mix-width:1200px) {
        justify-content: center;
        margin-bottom: 50px;
    }
}




.paganation__item{
    margin-right: 8px;

    &:last-child{
        margin-right: 0;
    }

    @media screen and (max-width:480px) {
        margin-bottom: 15px;

        &:nth-last-child(-n+2){
            margin-bottom: 0;
        }

        &:nth-last-child(3n){
            margin-right: 0;
        }
    }
}


.pagination__btn{
    padding-left: 22px;
    padding-top: 6px;
    padding-right: 22px;
    padding-bottom: 6px;


    border: transparent;
    border-radius: 4px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--main-txt-mode-light);
    background-color: #F5F4FA;
    cursor: pointer;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) ,  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--main-txt-mode-dark);
        background-color: var(--bg-button);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }

}


