.team{
    background-color: #F5F4FA;

}

.team__title{
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    
    color: var(--main-txt-mode-light);
       
}

.team__list{
    display: flex;
}

.team__item{
    margin-right: 30px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team__item:last-child{
    margin-right: 0;
}

.team__info{
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__name{
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;

    color: var(--main-txt-mode-light);
}

.team__profession{
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    

    color: var(--primary-txt-mode-light);

}

